<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav
      class="sticky top-0 z-50 bg-white min-h-fit shadow-lg px-5 md:w-auto w-full left-0 justify-between top-[0%]"
    >
      <div
        class="flex flex-row mx-auto flex items-center gap-[4vw] gap-8 justify-between p-4"
      >
        <!--logo -->
        <div class="flex items-center py-4">
          <img
            src="/images/MoH Logo.png"
            alt="logo"
            class="h-12 inline mr-2 touch-auto"
          />
          <span class="text-white text-lg font-bold">
            <img
              src="/images/Revamp_SHIELD_V.png "
              alt="logo"
              class="h-12 inline mr-2 touch-auto"
          /></span>
          <span class="text-white text-lg font-bold"></span>
        </div>

        <!--Mobile Menu Toggle Button-->
        <button
          id="menu-toggle"
          class="md:hidden flex items-center flex-shrink-0 justify-between text-sky-500 focus:outline-none"
        >
          <svg
            class="h-6 w-6"
            fill="none"
            viewbox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
        </button>
        <!--menu for medium screen-->

        <div class="hidden md:block flex items-center">
          <ul class="md:flex items-center md:w-auto md:static">
            <li class="px-2 py-2">
              <a
                href="/users/admin"
                class="text-gray-800 bg-black-500 rounded-lg px-4 py-2 hover:bg-blue-500 transition-colors duration-300"
                >Admin</a
              >
            </li>

            <!--Dashboard dropdown-->
            <li class="px-2 py-2 md:my-0">
              <div class="relative">
                <button
                  id="dropdownButton"
                  type="button"
                  class="text-gray-800 bg-black-500 rounded-lg px-4 py-2 hover:bg-blue-500 transition-colors duration-300 flex items-center justify-between space-x-2 block"
                >
                  Dashboard
                  <!--Heroicon name: chevron-down-->

                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-3 h-3"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m19.5 8.25-7.5 7.5-7.5-7.5"
                    />
                  </svg>
                </button>

                <div
                  id="dropdownContent"
                  class="flex items-center w-auto shadow-lg justify-center hover:bg-blue-500 absolute left-0 translate-y-4 transition-all mt-2 bg-blue-200 rounded-md shadow-lg focus:outline-none hidden"
                >
                  <div
                    class="py-1"
                    role="dropdownContent"
                    aria-orientation="vertical"
                    aria-labelledby="dropdownContent"
                  >
                    <a
                      href="summarized.js"
                      class="block py-2 px-4 text-gray-800 hover:bg-blue-200"
                      >summarized</a
                    >
                    <a
                      href="routinesurveillance.js"
                      class="block py-2 px-4 text-gray-800 hover:bg-blue-300"
                      >Routine Surveillance</a
                    >
                    <a
                      href="eventbasedsurveillance.js"
                      class="block py-2 px-4 text-gray-800 hover:bg-blue-300"
                      >Event Based Surveillance</a
                    >
                    <a
                      href="outbreakresponse.js"
                      class="block py-2 px-4 text-gray-800 hover:bg-blue-300"
                      >Outbreak Response</a
                    >
                    <a
                      href="programdashboards.js"
                      class="block py-2 px-4 text-gray-800 hover:bg-blue-300"
                      >Program Dashboards</a
                    >
                  </div>
                </div>
              </div>
            </li>

            <li class="px-2 py-2">
              <a
                href="/users/upload"
                class="text-gray-800 bg-black-500 rounded-lg px-4 py-2 hover:bg-blue-500 transition-colors duration-300"
                >Upload data</a
              >
            </li>
            <li class="px-2 py-2">
              <a
                href="resources.js"
                class="text-gray-800 bg-black-500 rounded-lg px-4 py-2 hover:bg-blue-500 transition-colors duration-300"
                >Resources</a
              >
            </li>
            <li class="px-2 py-2">
              <a
                href="/users/logout"
                class="text-white bg-yellow-500 rounded-lg px-4 py-2 hover:bg-yellow-600 transition-colors duration-300"
                >logout</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!--Menu for mobile screen-->
      <div
        class="md:hidden flex items-center justify-between hidden transition-all duration-300"
        id="menu"
      >
        <ul class="w-auto">
          <li class="py-2 px-0">
            <a
              href="/users/admin"
              class="text-gray-800 bg-black-500 rounded-lg px-4 py-2 hover:bg-blue-500 transition-colors duration-300"
              >Admin</a
            >
          </li>

          <!--Dashboard dropdown-->
          <li class="py-2 px-0">
            <div class="relative">
              <button
                id="dashboard-toggle-mobile"
                type="button"
                class="text-gray-800 bg-black-500 rounded-lg px-4 py-2 hover:bg-blue-500 transition-colors duration-300 flex items-center justify-between space-x-2 block"
              >
                Dashboard
                <!--Heroicon name: chevron-down-->

                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-3 h-3"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m19.5 8.25-7.5 7.5-7.5-7.5"
                  />
                </svg>
              </button>

              <div
                id="dashboard-menu-mobile"
                class="flex items-center w-auto justify-center hover:bg-blue-500 absolute left-0 translate-y-4 transition-all mt-2 bg-blue-200 rounded-md shadow-lg focus:outline-none hidden"
              >
                <div
                  class="py-2 px-0"
                  role="menu"
                  aria-orientation="vertical"
                  aria-labelledby="dashboard-toggle-mobile"
                >
                  <a
                    href="summarized.js"
                    class="block py-2 px-4 text-gray-800 hover:bg-blue-200"
                    >summarized</a
                  >
                  <a
                    href="routinesurveillance.js"
                    class="block py-2 px-4 text-gray-800 hover:bg-blue-300"
                    >Routine Surveillance</a
                  >
                  <a
                    href="eventbasedsurveillance.js"
                    class="block py-2 px-4 text-gray-800 hover:bg-blue-300"
                    >Event Based Surveillance</a
                  >
                  <a
                    href="outbreakresponse.js"
                    class="block py-2 px-4 text-gray-800 hover:bg-blue-300"
                    >Outbreak Response</a
                  >
                  <a
                    href="programdashboards.js"
                    class="block py-2 px-4 text-gray-800 hover:bg-blue-300"
                    >Program Dashboards</a
                  >
                </div>
              </div>
            </div>
          </li>

          <li class="py-2 px-0">
            <a
              href="/users/upload"
              class="text-gray-800 bg-black-500 rounded-lg px-4 py-2 hover:bg-blue-500 transition-colors duration-300"
              >Upload data</a
            >
          </li>
          <li class="py-2 px-0">
            <a
              href="resources.js"
              class="text-gray-800 bg-black-500 rounded-lg px-4 py-2 hover:bg-blue-500 transition-colors duration-300"
              >Resources</a
            >
          </li>
          <li class="py-2 px-4">
            <a
              href="/users/logout"
              class="text-white bg-yellow-500 rounded-lg px-4 py-2 hover:bg-yellow-600 transition-colors duration-300"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div class=" flex items-center justify-center p-0 m-2 mb-2 mt-2">
     <div class="m-2 p-2 "> <h1>Search for users</h1></div>
      <form action=" /users/search/" method="POST">
        
        <input  type="text" name="searchTerm" placeholder="Enter a user's name" required>

        <!-- <button
        onclick="searchusers()"
        class="bg-gray-500 px-3 py-1 m-2 rounded hover:bg-gray-700 transition"
      >
        Search
      </button>  -->
      <button   class="bg-gray-500 px-3 py-1 m-2 rounded hover:bg-gray-700 transition" type="submit">Search</button>
      </form>
    </div>

       <ul>
        <!-- <% users.forEach(user=> { %>
          <li><%= user.name %></li>
          <% }); %> -->
          


          <!-- <% if (users.length > 0) { %>
            <% users.forEach(user => { %>
            <li><strong><%= user.name %></strong> by <%= user.email %></li>
        <%}); %>
    <%} else { %>
    <li>No results found.</li>
    <%} %>
          -->
      </ul> 
      
      
     
  

    <!-- <div class="hidden md:block flex container mx-auto p-4 bg-gray-100 p-8"> -->
      <!-- <span>Email</span> -->
      <!-- <h1 class="flex text-2xl text-sky-500 mb-4">users List</h1>
      <div class="">
        <input
          type="text"
          placeholder="Search users...."
          class="rounded px-2 py-1 mb-4"
          id="searchInput"
        />
        <button
          onclick="searchusers()"
          class="bg-gray-500 px-3 py-1 m-2 rounded hover:bg-gray-700 transition"
        >
          Search
        </button>
      </div> -->
      <div id="usersList"></div>
      <table
        class=" bg-white rounded-lg shadow divide-y divide-gray-200 min-w-full table-auto"
      >
        <thead class="bg-gray-800 flex items-center justify-center text-white table-auto">
          <tr>
            <th class="px-4 py-2">ID</th>
            <th class="px-4 py-2">Email</th>
            <th class="px-4 py-2">Role</th>
            <th class="px-4 py-2">Date</th>
            <th class="px-4 py-2">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user => { %>
          <tr class=" flex justify-between space-x-2 space-y-2 border-b">
            <td class="px-4 py-2"><%=user.id %></td>

            <td class="px-4 py-2"><%= user.email %></td>

            <td class="px-4 py-2"><%=user.role %></td>

            <td class="px-4 py-2"><%= user.date %></td>
            <td class="px-4 py-2">
              <form action="/users/delete/<%= user.id %>" method="POST">
                <button
                  type="submit"
                  class="bg-red-500 mt-4 p-4 m-2 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="size-6"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </button>
              </form>

              <form action="/users/edit/<%= user.id %>" method="POST">
                <button
                  type="submit"
                  class="bg-blue-500 hover:bg-blue-700 text-white p-4 m-2 font-bold py-2 px-4 rounded-lg"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="size-6"
                  >
                    <path
                      d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z"
                    />
                    <path
                      d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z"
                    />
                  </svg>
                </button>
              </form>
            </td>
          </tr>
          <%}); %>
        </tbody>
      </table>
    </div>
    <div class="md:hidden sm:block flex container mx-auto p-4">
      <span></span>

      <ul class="bg-white rounded-lg shadow divide-y divide-gray-200 mt-8 mx-4">
        <div class="">
          <input
            type="text"
            placeholder="Search users...."
            class="rounded px-2 py-1 mb-4"
            id="searchInput"
          />
          <button
            onclick="searchUsers()"
            class="bg-gray-500 px-3 py-1 m-2 rounded hover:bg-gray-700 transition"
          >
            Search
          </button>
          <div id="usersList"></div>
        </div>

        <h1
          class="flex text-2xl mb-8 m-2 text-center text-sky-500 font-bold top-0"
        >
          users List
        </h1>
        <% users.forEach(user => { %>
        <li class="flex-col justify-between p-4 m-4 space-x-2">
          <span><%=user.id %></span>
          <br />
          <span><%= user.email %></span>
          <br />
          <span><%=user.role %></span>

          <form action="/users/delete/<%= user.id %>" method="POST">
            <button
              type="submit"
              class="bg-red-500 p-4 m-2 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-lg"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </form>

          <form action="/users/edit/<%= user.id %>" method="POST">
            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-700 m-2 p-4 text-white font-bold py-2 px-4 rounded-lg"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6"
              >
                <path
                  d="M21.731 2.269a2.625 2.625 0 0 0-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 0 0 0-3.712ZM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 0 0-1.32 2.214l-.8 2.685a.75.75 0 0 0 .933.933l2.685-.8a5.25 5.25 0 0 0 2.214-1.32l8.4-8.4Z"
                />
                <path
                  d="M5.25 5.25a3 3 0 0 0-3 3v10.5a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3V13.5a.75.75 0 0 0-1.5 0v5.25a1.5 1.5 0 0 1-1.5 1.5H5.25a1.5 1.5 0 0 1-1.5-1.5V8.25a1.5 1.5 0 0 1 1.5-1.5h5.25a.75.75 0 0 0 0-1.5H5.25Z"
                />
              </svg>
            </button>
          </form>
        </li>
        <%}) %>
      </ul>
    </div>

    <!-- <div class="container mx-auto p-4">
      <h1 class="text-2xl font-bold mb-4">Items List</h1>
      <ul class="bg-white rounded-lg shadow divide-y divide-gray-200">
        <% users.forEach(user => { %>
          <li class="flex justify-between items-center p-4">
            <span><%= user.name %></span>
            <div class="flex space-x-2">
              <form action="/edit/<%= user.id %>" method="POST">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                  Edit
                </button>
              </form>
              <form action="/delete/<%= user.id %>" method="POST">
                <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                  Delete
                </button>
              </form>
            </div>
            <div class="container mx-auto p-4">
              <h1 class="text-2xl font-bold mb-4">Edit Item</h1>
              <form action="/update/<%= user.id %>" method="POST" class="bg-white p-4 rounded-lg shadow">
                <div class="mb-4">
                  <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                    Item Name
                  </label>
                  <input 
                    type="text" 
                    id="name" 
                    name="name" 
                    value="<%= user.name %>" 
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  >
                </div>
                <div class="flex justify-end space-x-2">
                  <a href="/" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">Cancel</a>
                  <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    Update
                  </button>
                </div>
              </form>
          </li>
        <% }) %>
      </ul>
    </div>  -->
    <script src="/javascript/dropdown.js"></script>
  </body>
</html>
